mat-form-field {
    width: 300px;
}

@media only screen and (max-width: 800px) {
    mat-form-field {
        width: 100%;
    }
}

.clickable {
    cursor: pointer;
    color: rgb(122, 117, 117);
}

.credit-icon {
    color: rgb(122, 117, 117);
}