<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-lg-4">
            <app-login></app-login>
        </div>
       
        <div class="col-lg-4">
            <div class="card shadow-lg bg-light">
                <div class="card-body">
                <img src="https://images.unsplash.com/photo-1572721968930-b96258f64801?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" class="card-img" alt="image">
                <div class="card-img-overlay">
                <h5 class="card-title text-light display-4 lead">My Store</h5>
                <p class="card-text text-light lead">Buy healthy products without leaving home. Choosing organic on My Store is as easy as clicking a button. You can just sit and we will take care of everything you need!</p>
                </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <app-information></app-information>
        </div>
    </div>
</div>