<div fxLayoutAlign="center center" fxLayout="column">
    <button mat-dialog-close mat-mini-fab color="warn" fxFlexAlign="end">
        <mat-icon>close</mat-icon>
    </button>
    
    <h2 mat-dialog-title>Gallery - {{ param }}</h2>
    <h3> {{resultMessage ? resultMessage : null }}</h3>    
    
    <mat-dialog-content
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="start" 
    class="mt-5">
        <mat-card *ngFor="let image of images" mat-dialog-close={{image.url}} 
        class="h-100" 
        class="m-2"
        fxFlex="0 1 calc(15%)"
        fxFlex.lt-md="0 1 calc(50%)"
        fxFlex.lt-sm="100%"
        fxLayout="column">   
            <img mat-card-image [src]=image.url alt="image" fxFlexAlign="center">
        </mat-card>
    </mat-dialog-content>
</div>