<mat-toolbar color="primary" fxLayoutAlign="space-between center">
    <a routerLink="/home">My Store &nbsp;</a> 
    <span (click)="showCart()" *ngIf="adminConnected" fxLayout> 
        {{ adminConnected }} <mat-icon fxFlexAlign="center">settings</mat-icon>
    </span>
    <app-cart-indicator *ngIf="showCartIndicator"></app-cart-indicator>
    <a class="contact-us" routerLink="/contact-us" *ngIf="!isAuthenticated">
        Contact Us <mat-icon>contact_support</mat-icon>
    </a>
    <button mat-stroked-button color="accent" (click)="logout()" *ngIf="isAuthenticated">Logout</button> 
</mat-toolbar> 