<div class="jumbotron jumbotron-fluid bg-primary text-light">
  <div class="container-fluid">

    <div class="row">
      <div class="display-4 col-sm-8">
      My Store
      </div>
      <div class="col-sm-4">
        <div class="row">
          <h4 class="lead">
            <fa-icon [icon]="faPhoneAlt"></fa-icon> 01413533072
            <fa-icon [icon]="faEnvelope"></fa-icon> info@MyStore.com
          </h4>
        </div>
        <div class="row">
          <h5 class="lead font-weight-bold">Hello Guest</h5>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-3">
        <app-search-product></app-search-product>      
      </div>
    </div>


  </div>
</div>
