<div class="container">
    <div class="card shadow-lg bg-light">
        <h5 class="card-header">
            Register - user
        </h5>
        <div class="card-body" *ngIf="!isFirstStepValid">
            <form [formGroup]="registerForm1">
                <div class="form-group row justify-content-center mt-3">
                  <label for="inputId" class="col-lg-2 col-form-label">ID</label>
                  <div class="col-lg-5">
                    <input formControlName="id" type="number" class="form-control" [ngClass]="{'is-invalid': validation('id')}" id="inputId">
                    <div class="invalid-feedback" *ngIf="registerForm1.get('id').errors?.required">
                        Please provide a valid ID.
                    </div>
                    <div class="invalid-feedback" *ngIf="registerForm1.get('id').errors?.min">
                        ID must be at least 4 digits long.
                    </div>
                  </div>
                </div>
                <div class="form-group row justify-content-center">
                   <label for="inputUserName" class="col-lg-2 col-form-label">User Name</label>
                   <div class="col-lg-5">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input formControlName="userName" type="email" class="form-control" [ngClass]="{'is-invalid': validation('userName')}" id="inputUserName">
                            <div class="invalid-feedback" *ngIf="registerForm1.get('userName').errors?.required">
                                Please provide a valid User name.
                            </div>
                            <div class="invalid-feedback" *ngIf="registerForm1.get('userName').errors?.email">
                                Please provide a valid Email address.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                  <label for="inputPassword" class="col-lg-2 col-form-label">Password</label>
                  <div class="col-lg-5">
                    <input formControlName="password" type="password" class="form-control" [ngClass]="{'is-invalid': validation('password')}" id="inputPassword">
                    <div class="invalid-feedback" *ngIf="registerForm1.get('password').errors?.required">
                        Please provide a password.
                    </div>
                  </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="inputPasswordConfirm" class="col-lg-2 col-form-label">Password Confirm</label>
                    <div class="col-lg-5">
                      <input formControlName="passwordConfirm" type="password" class="form-control" [ngClass]="{'is-invalid': validation('passwordConfirm')}" id="inputPasswordConfirm">
                      <div class="invalid-feedback" *ngIf="registerForm1.get('passwordConfirm').errors?.required">
                        Please confirm your password.
                    </div>
                    </div>
                </div>
            </form>            
            <button class="btn btn-primary float-right mt-3" (click)="registerFirstStep()" [disabled]="!registerForm1.valid">Continue to register</button>
        </div>

        <div class="card-body" *ngIf="isFirstStepValid">
            <form [formGroup]="registerForm2">
                <div class="form-group row justify-content-center mt-3">
                  <label for="inputCity" class="col-lg-2 col-form-label">City</label>
                  <div class="col-lg-5">
                    <input formControlName="city" type="text" class="form-control" id="inputCity">
                  </div>
                </div>
                <div class="form-group row justify-content-center">
                   <label for="inputStreet" class="col-lg-2 col-form-label">Street</label>
                   <div class="col-lg-5">
                        <input formControlName="street" type="text" class="form-control" id="inputStreet">
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                  <label for="inputFirstName" class="col-lg-2 col-form-label">First Name</label>
                  <div class="col-lg-5">
                    <input formControlName="firstName" type="text" class="form-control" id="inputFirstName">
                  </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="inputLastName" class="col-lg-2 col-form-label">Last Name</label>
                    <div class="col-lg-5">
                      <input formControlName="lastName" type="text" class="form-control" id="inputLastName">
                    </div>
                </div>
            </form>            
            <button class="btn btn-primary float-right mt-3" (click)="register()">Register</button>
        </div>

    </div>
</div>