
    
  <form>

      <div class="input-group">
        
        <input [formControl]="searchFormControl" 
        type="text" class="form-control" 
        placeholder="Find your product...">  
        
        <div class="input-group-prepend">
          <div class="input-group-text"><fa-icon [icon]="faSearch"></fa-icon></div>
        </div>
      
      </div>

  </form>




<!-- <form class="form-inline">
    <div class="form-group mx-sm-3">
      <label for="inputProductName">Search product &nbsp;</label>
      <input type="text" class="form-control" id="inputProductName" placeholder="Product name">  
    </div>
    <button type="button" class="btn btn-secondary mb-xl-3 "><fa-icon [icon]="faSearch"></fa-icon></button>
</form> -->
