<mat-card class="h-100">
 
  <div *ngIf="isUserConnected">
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goToShoppingPage()">
        {{ openCart ? 'Resume shopping' : 'Go Shopping' }}
      </button>
    </mat-card-actions>
        
    <mat-card-subtitle *ngIf="welcomeMessage">{{ welcomeMessage }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="openCart">
        Open Cart ${{ openCart.totalPrice }} from {{openCart.created_at}}
      </mat-card-subtitle>
  </div>

  <mat-card-actions *ngIf="isAdminConnected">
    <button mat-raised-button color="primary" (click)="goToShoppingPage()">
      Products Management
    </button>
  </mat-card-actions>
  
  
  <div *ngIf="!isAuthenticated">
    
    <mat-card-title>Register?</mat-card-title>
    
    <mat-card-content>  
      <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px">
        <mat-form-field>
          <input matInput formControlName="userName" type="userName" placeholder="User Name">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput formControlName="password" type="password" placeholder="Password">
          <mat-icon matSuffix>visibility_off</mat-icon>
        </mat-form-field>
      
        <div *ngIf="errorMessage" class="error">
          {{errorMessage}}
        </div>
      </form>
    </mat-card-content>
  
    <mat-card-actions>              
      <button type="button" mat-raised-button color="primary" (click)="login()">
        Login
      </button>
      <button mat-raised-button color="accent" routerLink="/register">
        Register
      </button>
    </mat-card-actions>
  </div>  
  
</mat-card>