<div class="container">

       
      <app-navbar-categories (productsByCategory)="getProductsByCategory($event)"></app-navbar-categories>
        

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        <div class="col mb-4" *ngFor="let product of products" >
          <div class="card h-100" style="min-width: 18rem;">
            <img [src]="product.image" class="card-img-top mx-auto d-block" alt="image" style="max-width: 10rem;">
            <div class="card-body">
              <p class="card-title">{{ product.name }}</p>
              <h6 class="card-text">${{ product.price }}</h6>
            </div>
          </div>
        </div>


       
      </div>





</div>
