<app-search-product></app-search-product> 

<mat-drawer-container class="example-container" autosize>
  
  <mat-drawer #drawer class="example-sidenav" mode="side" [(opened)]="opened">
    <app-product *appRole="'admin'" (onClose)="execOnClose()"></app-product>
    <app-cart *appRole="'user'" (onClose)="execOnClose()"></app-cart>
  </mat-drawer>
  
  <div class="container mt-5">
    
    <app-navbar-categories (productsByCategory)="getProductsByCategory($event)" *ngIf="!noSearchResults"></app-navbar-categories>
    
    <h3 *ngIf="noSearchResults" fxLayoutAlign="center center" >Sorry! No products found...</h3>    
        
    <div 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="start" 
    fxLayoutGap="7px" 
    *ngIf="!noSearchResults"
    class="mt-5"
    >
      <mat-card *ngFor="let product of products" class="mb-2"
      fxFlex="0 1 calc(25% - 7px)"
      fxFlex.lt-md="0 1 calc(50% - 7px)"
      fxFlex.lt-sm="100%"
      fxLayout="column" 
      >
        <img mat-card-image [src]="product.image" alt="image" fxFlexAlign="center">
        <mat-card-content>{{ product.name }}</mat-card-content>
        <mat-card-content>${{ product.price }}</mat-card-content>   
        <mat-card-actions>
          <button *appRole="'user'" type="button" mat-raised-button color="accent" (click)="addProductToCart(product)">
            Add
          </button>
          <button *appRole="'admin'" type="button" mat-raised-button color="accent" (click)="editProduct(product)">
            Edit
          </button>
        </mat-card-actions>
      </mat-card>     
    </div>
  </div>

</mat-drawer-container>