<div fxLayoutAlign="space-between">
    <h1>Products Management</h1>
    <button mat-mini-fab [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>add</mat-icon>  
    </button>
</div>

<mat-menu #menu="matMenu" #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="createMode()">
        <span>New product</span>
    </button>
    <button mat-menu-item (click)="closeSideBar()">
        <span>Close</span>
    </button>
</mat-menu>

<form [formGroup]="productForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

    <mat-form-field>
        <input matInput formControlName="name" type="text" placeholder="Product name">
        <mat-error>
            {{ requiredMsg }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="price" type="number" placeholder="Price">
        <mat-error>
            {{ requiredMsg }}
        </mat-error>
        <mat-icon matSuffix >attach_money</mat-icon>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="image" type="url" placeholder="Image url">
        <mat-hint>
            Gallery will suggest images based on the product name provided.
        </mat-hint>
        <mat-error>
            {{ requiredMsg }}
        </mat-error>
    </mat-form-field>
    <button type="button" mat-raised-button (click)="openGallery()" [disabled]="!productName" >
        Open Gallery
    </button>

    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category_id" required>
            <mat-option *ngFor="let category of categories" value={{category._id}}>
                {{category.category}}
            </mat-option>
        </mat-select>
        <mat-error>
            {{ requiredMsg }}
        </mat-error>
    </mat-form-field>

    <button type="button" mat-raised-button color="primary" (click)="createProduct()" *ngIf="!editMode">
        Save product
    </button>
    <button type="button" mat-raised-button color="primary" (click)="editProduct()" *ngIf="editMode">
        Save changes
    </button>
</form>