<div fxLayoutAlign="center center" fxLayout="column">
    <h2 mat-dialog-title>Add to Cart</h2>
    
    <mat-dialog-content>
        Great choice!
    </mat-dialog-content>

    <mat-dialog-content>
        <span>Add &nbsp;</span>
        <mat-form-field>        
            <input min="1" matInput type="number" [(ngModel)]="quantity">
        </mat-form-field>
        <span>&nbsp;{{ passedData.name }} to my cart</span>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close={{quantity}}>Add</button>
        <button mat-button [mat-dialog-close]="false">No thanks</button>
    </mat-dialog-actions>
</div>